select {
  color: #fff;
  padding: 6px 10px;
  border-radius: 5px;
  background-color: black;
  text-transform: uppercase;
  font-family: "DM Sans", sans-serif;

  @media screen and (max-width: 768px) {
    margin-bottom: 20px;
  }
}
